@import "variables";


.App {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: #f3863e;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: grid;
  grid-template-rows:110px 5fr;
  grid-template-areas: 
  "header"
  "main";


  header {
    grid-area: header;
    padding: 3vw 0;
    position: relative;
    display: flex;
    align-items: center;

    .logo {
      width: 60px;
      height: auto;
      margin-left: 20px; 
    };
    .title-App {
      color: #fff;
      font-family: 'Rajdhani', sans-serif;
      font-size: 3em;
      margin-left: 20px
    };
  };
  main {
    grid-area: main;
    width: 85%;
    height: 100%;
    padding: 0 6vw 0 0;
    border-radius: 40px 0 0 0 ;
    background-color: #fff;
    justify-self: flex-end;
    z-index: 1;
    /* .title-taskList {
      color: #df4f4f;
      font-size: 1.3em;
      font-weight: 200;
      margin-top: 30px;
      margin-left: 25px
    } */
  };
  footer{
    position: fixed;
    width: 95%;
    height: 75px;
    bottom: 15px;
    border-radius: 15px 0 0 15px;
    justify-self: flex-end;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    z-index: 1;

    .bg-footer-1 {
      position:absolute;
      width: 100%;
      height: 100%;
      border-radius: 35px 0 0 35px;
      background-color: #194350;
      box-shadow: 0px 6px 8px rgba(87, 87, 87, 0.699);
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo-footer {
        width: 55px;
        height: 55px;
        margin-left: 12px
      };
      .social-footer {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .name-footer {
          height: 30%;
          color: #ffffff48;
          font-size: 1em;
          display: flex;
          align-items: center;
        };
        .container-social {
          width: 100%;
          height: 50%;
          display:flex;
          align-items: center;
          .github {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            .icon-gh {
              font-size: 1.7em;
              fill: #568a93;
              margin-left: 20px;
            }
          }
          .linkedin {
            width: 50%;
            display: flex;
            justify-content: center;
            .icon-lk {
              font-size: 1.7em;
              fill: #568a93;
              margin-right: 20px;
            }
          }
        };
      };
    };    
  };
  .bg-footer-2 {//para lograr somgra bajo el main
    position: fixed;
    width: 94%;
    height: 74px;
    bottom: 15px;
    border-radius: 35px 0 0 35px;
    justify-self: flex-end;
    align-self: flex-start;
    background-color: #9b2d14;
    box-shadow: -6px 6px 6px rgba(133, 36, 36, 0.438);
  };
};

/* ************************ Media Query 540px *************************/
@media screen and (min-width: 540px) {
  .App {
    grid-template-rows: 1fr 5fr 90px;
    
    header {
      padding: 2vw 0;

      .logo {
        width: 100px;
        height: 100px;
        transition: transform .3s ease;
        &:hover {
          cursor: pointer;
          transform:scale(1.3);
          background-image: url(../assets/images/logo_ok.png);
        };
        &:active {
          background-image: url(../assets/images/logo_active.png);
        };
      };
    };
    main {
      padding: 0 3vw;
    };
  };
};

/* ************************ Media Query < 1080px *************************/
@media screen and (min-width: 1080px) {

  .App {
    height: 100vh;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: 90px 6fr 1fr;
    align-items:unset;

    header {
      .logo {
        width: 70px;
        height: auto;
      }
    };
    main {
      height: 100%;
      overflow: hidden
    };
    footer {
      position: relative;
      bottom: 0;
      grid-area: footer;

      .bg-footer-1 {
        position:relative;
        .social-footer {
          width: 30%;
          flex-direction: row;
          justify-content: flex-end;
          .name-footer {
            width: 50%
          };
          .container-social {
            width: 50%;
            justify-content: flex-start;
            .github {
              justify-content: flex-start;
              .icon-gh {
                margin-left: 0
              }
            };
            .linkedin {
              justify-content: flex-start
            }
          };

        }
      };
    };
    .bg-footer-2 {
      display: none
    }
  };  
};