@import "variables";


.App {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: #f3863e;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: grid;
  grid-template-rows:110px 5fr;
  grid-template-areas: 
  "header"
  "main";


  header {
    grid-area: header;
    padding: 3vw 0;
    position: relative;
    display: flex;
    align-items: center;

    .container-logo-header {
      .logo {
        width: 70px;
        height: auto;
        margin-left: 20px; 
      };
    }    
    .title-App {
      color: #fff;
      font-family: 'Rajdhani', sans-serif;
      font-size: 3em;
      margin-left: 20px
    };
  };
  main {
    grid-area: main;
    width: 85%;
    height: 100%;
    border-radius: 40px 0 0 0 ;
    background-color: #fff;
    justify-self: flex-end;
    z-index: 1;
  };
  footer{
    position: fixed;
    width: 95%;
    height: 75px;
    bottom: 15px;
    border-radius: 15px 0 0 15px;
    justify-self: flex-end;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    z-index: 1;

    .bg-footer-1 {
      position:absolute;
      width: 100%;
      height: 100%;
      border-radius: 35px 0 0 35px;
      background-color: #194350;
      box-shadow: 0px 4px 8px #252525b2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .container-logo-footer {
        width: 50%;
        .logo-footer {
          width: 55px;
          height: 55px;
          margin-left: 12px
        };
      };      
      .social-footer {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .name-footer {
          font-style: italic;
          width: 100%;
          height: 50%;
          color: #ffffff48;
          font-size: 1em;
          display: flex;
          align-items: center;
          justify-content: center
        };
        .container-social {
          width: 100%;
          height: 50%;
          display:flex;
          align-items: flex-start;
          justify-content: center;
          .github, .linkedin {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon-gh, .icon-lk {
              font-size: 1.7em;
              fill: #568a93;              
            }
            svg {
              &:active {
                fill: #194350;
                font-size: 1.3em;
              }
            };
          };         
        };
      };
    };    
  };  
};

/* ************************ Media Query 540px *************************/
@media screen and (min-width: 540px) {
  .App {

    width: 100%;
    grid-template-rows: 1fr 5fr 90px;
    
    header {
      padding: 2vw 0;

      .container-logo-header {
        position: relative;
        width: 110px;
        height: 110px;
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo {
          width: 80%;
          height: 80%;
          margin-left: 0;
          transition: transform .3s ease;
          &:hover {
            position: absolute;
            width: 110px;
            height: 110px;
            cursor: pointer;
            transform: rotate(360deg);
          };
          &:active {
            transform: scale(.9);
            filter:grayscale(.7);
          };
        };        
      }
      .title-App {
        margin-left: 10px;
      }      
    };
    footer {
      .bg-footer-1 {
        .container-logo-footer {
          width: 50%;
          margin-left: 12px;
          .logo-footer {            
            width: 55px;
            height: 55px;
            margin-left: 0;
            cursor: pointer;
            transition: transform .3s ease;
            &:hover {
              transform: rotate(360deg);
            };
            &:active {
              transform: scale(.9);
              filter:grayscale(.7);
            };
          };
        };
        .social-footer {
          width: 30%;
          .container-social {
            width: 50%;
            justify-content: center;
            align-items: flex-start;
            .github, .linkedin {
              width: 50%;
              justify-content: center;
              align-items: center; 
              cursor: auto;
              .icon-gh, .icon-lk {
                margin-left: 0;
                cursor: pointer;
              }
              svg{
                &:hover {
                  transform: scale(1.2);
                  filter: brightness(1.5);              
                };
              };
            };
          };
        };
      };
    };
  };
};

/* ************************ Media Query < 1080px *************************/
@media screen and (min-width: 1080px) {

  .App {
    height: 100vh;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: 90px 6fr 1fr;
    align-items:unset;

    header {
      .logo {
        width: 70px;
        height: auto;
      };
    };
    main {
      height: 100%;
      overflow: hidden
    };
    footer {
      position: relative;
      bottom: 0;
      grid-area: footer;

      .bg-footer-1 {
        position:relative;
        .social-footer {
          width: 30%;
          flex-direction: row;
          justify-content: flex-end;
          .name-footer {
            width: 50%
          };
          .container-social {
            width: 50%;
            justify-content: flex-start;
            align-items: center;            
          };
        };
      };
    };
  };  
};