@import "variables";


.App {
  width: 100vw;
  min-height: 100vh;
  background-color: #ed455c;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  display: grid;
  grid-template-rows:110px 5fr 120px;
  grid-template-areas: 
  "header"
  "main"
  "footer";


  header {
    grid-area: header;
    padding: 3vw 0;
    position: relative;
    display: flex;
    align-items: center;
    
    .app-bg-header{
      width: 100%;
      height: 95px;
      background-image: url(../assets/images/bar_mb.png);
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
      overflow: hidden;
      /* background-color: $sky-blue; */
    }
    .app-logo {
      width: 95px;
      height: 95px;
    }
  }
  main {
    grid-area: main;
    width: 80%;
    height: 100%;
    padding: 0 6vw;
    border-radius: 15px 0 0 0 ;
    border: 1px solid rgba(255, 250, 250, 0.733);/* Borrar **************** */
    background-color: #fff;
    justify-self: flex-end;
    h1 {
      text-align: center;
      margin-top: 20px;
    }
  }
  footer{
    grid-area: footer;
    width: 90%;
    height: 90%;
    background-color: grey;
    justify-self: flex-end;
    align-self: flex-start;
  }
}

/* ************************ Media Query 540px *************************/
@media screen and (min-width: 450px) {
  .app {
    grid-template-rows: 1fr 5fr 90px;
    
    header {
      padding: 2vw 0;
      .app-bg-header{
        
        background-image: url(../assets/images/bar_desk.png);
        &:hover {
          filter: brightness(.8);
        }
      }
      .app-logo {
        width: 100px;
        height: 100px;
        transition: transform .3s ease;
        &:hover {
          cursor: pointer;
          transform:scale(1.3);
          background-image: url(../assets/images/logo_ok.png);
        }
        &:active {
          background-image: url(../assets/images/logo_active.png);
        }
      }
    }
    main {
      padding: 0 3vw;
    }
  }
}
