@import "variables";

.form {
  margin-left: 6vw;    
  .container-input-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    .input-form {
      width: 100%;
      height: 50px;
      font-size: 1em;
      color: #476b75;
      padding: 0 20px;
      border-radius:  20px 0 0 20px;
      border: none;
      margin-top: 50px;
      box-shadow: 0px 2px 6px #afafafb2;
      background: #fff9c6;
      background: linear-gradient(90deg, #fcf4c2 0%, #ffdbbe 100%);
      cursor: pointer;
      
      &:focus {
        outline: none;
        background: linear-gradient(90deg, #fcf4c2, #fcf4c2 100%);
        &::placeholder {
          color: #d1d1d1
        };
      }
    };
    .btn-form {
      font-size: 1em;
      color: #a1d3db;
      padding: 10px 30px;
      border: none;
      box-shadow: 0px 2px 6px #636363b2;
      border-radius: 30px;    
      margin-top: 10px;
      background-image: url(../assets/images/net2.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: #2c748a;
      cursor: pointer;

      &:active {
        font-size: 0.9em;
        color: #649299;
        box-shadow: none;
      }
    };
  };
};

/* ************************ Media Query 540px *************************/
@media screen and (min-width: 540px) {
  .form {
    .container-input-btn {
      .input-form {
        height: 50px;
        &:hover {
          background-color: #f8d8d2;
        };
      };
    };
  };
};

/* ************************ Media Query < 1080px *************************/
@media screen and (min-width: 1080px) {
  .form {
    position: relative;
    width: 50%;
    height: auto;
      .input-form {
        width: 80%;
      };
    .container-input-btn {
      width: 35%;
      margin-left: 3vw;
      position: fixed;
      .input-form {
        width: 100%;
      };
      .btn-form {
        position: relative;
        font-size: 1.1em;
        padding: 10px 40px;
        border: none;
        border-radius: 30px;    
        margin-top: 15px;
        &:hover {
          color: $txt-white;
          background-color: #49afbe;
        };
      };
    };    
  };
};