@import "variables";

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .input-form {
    width: 100%;
    height: 50px;
    font-size: 1em;
    color: #476b75;
    padding: 0 20px;
    border-radius:  0 15px 15px 0;
    border: none;
    margin-top: 50px;
    background-color: #f7e8e5;
    &:focus {
      outline: none;
      background-color: #fdc6be;
    }
  };
  .btn-form {
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;    
    margin-top: 10px;
    background-color: #194350;
  };
};

/* ************************ Media Query 540px *************************/
@media screen and (min-width: 540px) {
  .form {
    .input-form {
      &:hover {
        background-color: #f8d8d2;
      };
    };
  };
};