
/* ***** Colors ***** */
$sky-blue: #01a0c6;

/* ***** text ***** */
$txt-black: #34383a ;
$txt-white: #ffffff ;
$txt-blue: #194350 ;

/* ***** Backgrounds ***** */
$line-blue: #194350;

/* ***** Backgrounds ***** */
$bg-orange: #f3863e ;
$bg-blue: #194350 ;
$bg-black: #181A1B ;
$bg-white: #ffffff ;