
/* ***** Colors ***** */
$sky-blue: #01a0c6;

/* ***** text ***** */
$text-color-black: #34383a ;
$text-color-whie: #ffffff ;

/* ***** Backgrounds ***** */
$background-black: #181A1B ;
$background-white: #ffffff ;