@import "./style.css";
/* ***** Colors ***** */
/* ***** text ***** */
/* ***** Backgrounds ***** */
/* ***** Colors ***** */
/* ***** text ***** */
/* ***** Backgrounds ***** */
.App {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: #df4f4f;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  display: grid;
  grid-template-rows: 110px 5fr;
  grid-template-areas: "header" "main" "footer";
}
.App header {
  grid-area: header;
  padding: 3vw 0;
  position: relative;
  display: flex;
  align-items: center;
}
.App header .app-logo {
  width: 95px;
  height: 95px;
}
.App main {
  grid-area: main;
  width: 90%;
  height: 100%;
  padding: 0 6vw;
  border-radius: 15px 0 0 0;
  background-color: #fff;
  box-shadow: -6px 6px 10px rgb(133, 36, 36);
  justify-self: flex-end;
  z-index: 1;
}
.App footer {
  position: fixed;
  width: 95%;
  height: 80px;
  bottom: 15px;
  border-radius: 15px 0 0 15px;
  justify-self: flex-end;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.App footer .bg-footer-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px 0 0 15px;
  background-color: #3187a1;
  box-shadow: 0px 6px 10px rgba(87, 87, 87, 0.486);
}
.App .bg-footer-2 {
  position: fixed;
  width: 95%;
  height: 80px;
  bottom: 15px;
  border-radius: 15px 0 0 15px;
  justify-self: flex-end;
  align-self: flex-start;
  background-color: #9b2d14;
  box-shadow: -6px 6px 10px rgb(133, 36, 36);
}

/* ************************ Media Query 540px *************************/
@media screen and (min-width: 540px) {
  .app {
    grid-template-rows: 1fr 5fr 90px;
  }
  .app header {
    padding: 2vw 0;
  }
  .app header .app-logo {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
  }
  .app header .app-logo:hover {
    cursor: pointer;
    transform: scale(1.3);
    background-image: url(../assets/images/logo_ok.png);
  }
  .app header .app-logo:active {
    background-image: url(../assets/images/logo_active.png);
  }
  .app main {
    padding: 0 3vw;
  }
}
/* ***** Colors ***** */
/* ***** text ***** */
/* ***** Backgrounds ***** */
.task {
  width: 100%;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task .date-form {
  color: blue;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task .title-task {
  height: 100%;
  font-size: 1.2em;
  background-color: aqua;
  flex-wrap: wrap;
}
.task .icon-delete {
  font-size: 30px;
  fill: #01a0c6;
}

/* ***** Colors ***** */
/* ***** text ***** */
/* ***** Backgrounds ***** */
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form .input-form {
  width: 100%;
  height: 50px;
  font-size: 1em;
  color: #476b75;
  padding: 0 15px;
  border-radius: 10px;
  border: none;
  margin-top: 30px;
  background-color: #f7e8e5;
}
.form .btn-form {
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 15px;
  background-color: #194350;
}

/* ************************ Media Query 540px *************************/
@media screen and (min-width: 540px) {
  .form .input-form:hover {
    background-color: #f8d8d2;
  }
}
/* ***** Colors ***** */
/* ***** text ***** */
/* ***** Backgrounds ***** */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #34383a;
}

body {
  height: 100%;
  background-color: #01a0c6;
}/*# sourceMappingURL=style.css.map */