@import "./style.css";
/* ***** Colors ***** */
/* ***** text ***** */
/* ***** Backgrounds ***** */
/* ***** Colors ***** */
/* ***** text ***** */
/* ***** Backgrounds ***** */
.App {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: #f3863e;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: grid;
  grid-template-rows: 110px 5fr;
  grid-template-areas: "header" "main";
}
.App header {
  grid-area: header;
  padding: 3vw 0;
  position: relative;
  display: flex;
  align-items: center;
}
.App header .container-logo-header .logo {
  width: 70px;
  height: auto;
  margin-left: 20px;
}
.App header .title-App {
  color: #fff;
  font-family: "Rajdhani", sans-serif;
  font-size: 3em;
  margin-left: 20px;
}
.App main {
  grid-area: main;
  width: 85%;
  height: 100%;
  border-radius: 40px 0 0 0;
  background-color: #fff;
  justify-self: flex-end;
  z-index: 1;
}
.App footer {
  position: fixed;
  width: 95%;
  height: 75px;
  bottom: 15px;
  border-radius: 15px 0 0 15px;
  justify-self: flex-end;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.App footer .bg-footer-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 35px 0 0 35px;
  background-color: #194350;
  box-shadow: 0px 4px 8px rgba(37, 37, 37, 0.6980392157);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.App footer .bg-footer-1 .container-logo-footer {
  width: 50%;
}
.App footer .bg-footer-1 .container-logo-footer .logo-footer {
  width: 55px;
  height: 55px;
  margin-left: 12px;
}
.App footer .bg-footer-1 .social-footer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App footer .bg-footer-1 .social-footer .name-footer {
  font-style: italic;
  width: 100%;
  height: 50%;
  color: rgba(255, 255, 255, 0.2823529412);
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App footer .bg-footer-1 .social-footer .container-social {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.App footer .bg-footer-1 .social-footer .container-social .github, .App footer .bg-footer-1 .social-footer .container-social .linkedin {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App footer .bg-footer-1 .social-footer .container-social .github .icon-gh, .App footer .bg-footer-1 .social-footer .container-social .github .icon-lk, .App footer .bg-footer-1 .social-footer .container-social .linkedin .icon-gh, .App footer .bg-footer-1 .social-footer .container-social .linkedin .icon-lk {
  font-size: 1.7em;
  fill: #568a93;
}
.App footer .bg-footer-1 .social-footer .container-social .github svg:active, .App footer .bg-footer-1 .social-footer .container-social .linkedin svg:active {
  fill: #194350;
  font-size: 1.3em;
}

/* ************************ Media Query 540px *************************/
@media screen and (min-width: 540px) {
  .App {
    width: 100%;
    grid-template-rows: 1fr 5fr 90px;
  }
  .App header {
    padding: 2vw 0;
  }
  .App header .container-logo-header {
    position: relative;
    width: 110px;
    height: 110px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .App header .container-logo-header .logo {
    width: 80%;
    height: 80%;
    margin-left: 0;
    transition: transform 0.3s ease;
  }
  .App header .container-logo-header .logo:hover {
    position: absolute;
    width: 110px;
    height: 110px;
    cursor: pointer;
    transform: rotate(360deg);
  }
  .App header .container-logo-header .logo:active {
    transform: scale(0.9);
    filter: grayscale(0.7);
  }
  .App header .title-App {
    margin-left: 10px;
  }
  .App footer .bg-footer-1 .container-logo-footer {
    width: 50%;
    margin-left: 12px;
  }
  .App footer .bg-footer-1 .container-logo-footer .logo-footer {
    width: 55px;
    height: 55px;
    margin-left: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .App footer .bg-footer-1 .container-logo-footer .logo-footer:hover {
    transform: rotate(360deg);
  }
  .App footer .bg-footer-1 .container-logo-footer .logo-footer:active {
    transform: scale(0.9);
    filter: grayscale(0.7);
  }
  .App footer .bg-footer-1 .social-footer {
    width: 30%;
  }
  .App footer .bg-footer-1 .social-footer .container-social {
    width: 50%;
    justify-content: center;
    align-items: flex-start;
  }
  .App footer .bg-footer-1 .social-footer .container-social .github, .App footer .bg-footer-1 .social-footer .container-social .linkedin {
    width: 50%;
    justify-content: center;
    align-items: center;
    cursor: auto;
  }
  .App footer .bg-footer-1 .social-footer .container-social .github .icon-gh, .App footer .bg-footer-1 .social-footer .container-social .github .icon-lk, .App footer .bg-footer-1 .social-footer .container-social .linkedin .icon-gh, .App footer .bg-footer-1 .social-footer .container-social .linkedin .icon-lk {
    margin-left: 0;
    cursor: pointer;
  }
  .App footer .bg-footer-1 .social-footer .container-social .github svg:hover, .App footer .bg-footer-1 .social-footer .container-social .linkedin svg:hover {
    transform: scale(1.2);
    filter: brightness(1.5);
  }
}
/* ************************ Media Query < 1080px *************************/
@media screen and (min-width: 1080px) {
  .App {
    height: 100vh;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 90px 6fr 1fr;
    align-items: unset;
  }
  .App header .logo {
    width: 70px;
    height: auto;
  }
  .App main {
    height: 100%;
    overflow: hidden;
  }
  .App footer {
    position: relative;
    bottom: 0;
    grid-area: footer;
  }
  .App footer .bg-footer-1 {
    position: relative;
  }
  .App footer .bg-footer-1 .social-footer {
    width: 30%;
    flex-direction: row;
    justify-content: flex-end;
  }
  .App footer .bg-footer-1 .social-footer .name-footer {
    width: 50%;
  }
  .App footer .bg-footer-1 .social-footer .container-social {
    width: 50%;
    justify-content: flex-start;
    align-items: center;
  }
}
/* ***** Colors ***** */
/* ***** text ***** */
/* ***** Backgrounds ***** */
.task {
  position: relative;
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
  border-radius: 0 25px 25px 0;
  background-color: rgba(25, 67, 80, 0.062745098);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffdbbe;
}
.task .date-form {
  position: absolute;
  left: -35px;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.task .date-form .dayDate {
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  font-family: "Rajdhani", sans-serif;
  border-bottom: 2px solid #194350;
}
.task .date-form .monthDate {
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  font-family: "Rajdhani", sans-serif;
}
.task .title-task {
  width: 100%;
  height: 100%;
  color: #194350;
  font-size: 1em;
  font-weight: 500;
  padding-left: 15px;
  overflow-wrap: anywhere;
  display: flex;
  align-items: center;
}
.task .completed {
  color: #5a747c;
  -webkit-text-decoration: line-through 1px;
          text-decoration: line-through 1px;
  -webkit-text-decoration-color: red;
          text-decoration-color: red;
}
.task .bg-completed {
  background: linear-gradient(90deg, #d7fcb3 0%, #d7fcb3 100%);
  background-color: #c8f59b;
}
.task .icon-delete-task {
  width: 25%;
  height: 100%;
  border-radius: 0 25px 25px 0;
  background-color: #ffdbbe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task .icon-delete-task .icon {
  font-size: 30px;
  fill: #2a778f;
}
.task .icon-delete-task .icon:active {
  transform: scale(0.9);
  fill: #a51f1f;
}

/* ************************ Media Query 540px *************************/
@media screen and (min-width: 540px) {
  .task {
    width: 90%;
  }
  .task .date-form {
    left: -8%;
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  .task .date-form .dayDate {
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    font-family: "Rajdhani", sans-serif;
    border-bottom: 2px solid #194350;
  }
  .task .date-form .monthDate {
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    font-family: "Rajdhani", sans-serif;
  }
}
/* ************************ Media Query < 1080px *************************/
@media screen and (min-width: 1080px) {
  .task {
    width: 90%;
    height: 50px;
  }
  .task:hover {
    cursor: pointer;
  }
  .task .date-form {
    position: relative;
    left: 0;
  }
  .task .date-form .dayDate {
    color: #a3a3a3;
  }
  .task .date-form .monthDate {
    color: #a3a3a3;
  }
  .task .bg-date-completed {
    background-color: #d7fcb3;
  }
  .task .icon-delete-task .icon:hover {
    transform: scale(1.2);
    fill: #eb6b6b;
  }
  .task .icon-delete-task .icon:active {
    transform: scale(0.9);
    fill: #a51f1f;
  }
}
/* ***** Colors ***** */
/* ***** text ***** */
/* ***** Backgrounds ***** */
.form {
  margin-left: 6vw;
}
.form .container-input-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form .container-input-btn .input-form {
  width: 100%;
  height: 50px;
  font-size: 1em;
  color: #476b75;
  padding: 0 20px;
  border-radius: 20px 0 0 20px;
  border: none;
  margin-top: 50px;
  background: rgb(255, 249, 198);
  background: linear-gradient(90deg, #fcf4c2 0%, #ffdbbe 100%);
  cursor: pointer;
}
.form .container-input-btn .input-form:focus {
  outline: none;
  background: linear-gradient(90deg, #fcf4c2, #fcf4c2 100%);
}
.form .container-input-btn .input-form:focus::-moz-placeholder {
  color: #d1d1d1;
}
.form .container-input-btn .input-form:focus:-ms-input-placeholder {
  color: #d1d1d1;
}
.form .container-input-btn .input-form:focus::placeholder {
  color: #d1d1d1;
}
.form .container-input-btn .btn-form {
  font-size: 1em;
  color: #a1d3db;
  padding: 10px 30px;
  border: none;
  box-shadow: 0px 2px 6px rgba(75, 75, 75, 0.6980392157);
  border-radius: 30px;
  margin-top: 10px;
  background-color: #2c748a;
  cursor: pointer;
}
.form .container-input-btn .btn-form:active {
  font-size: 0.9em;
  color: #649299;
  box-shadow: none;
}

/* ************************ Media Query 540px *************************/
@media screen and (min-width: 540px) {
  .form .container-input-btn .input-form {
    height: 50px;
  }
  .form .container-input-btn .input-form:hover {
    background-color: #f8d8d2;
  }
}
/* ************************ Media Query < 1080px *************************/
@media screen and (min-width: 1080px) {
  .form {
    position: relative;
    width: 50%;
    height: auto;
  }
  .form .input-form {
    width: 80%;
  }
  .form .container-input-btn {
    width: 35%;
    margin-left: 3vw;
    position: fixed;
  }
  .form .container-input-btn .input-form {
    width: 100%;
  }
  .form .container-input-btn .btn-form {
    font-size: 1.1em;
    padding: 10px 40px;
    border: none;
    border-radius: 30px;
    margin-top: 15px;
  }
  .form .container-input-btn .btn-form:hover {
    color: #fff;
    background-color: #49afbe;
  }
}
/* ***** Colors ***** */
/* ***** text ***** */
/* ***** Backgrounds ***** */
.main-taskList {
  height: 100%;
  position: relative;
  margin-bottom: 80px;
}
.main-taskList .container-main-tasks {
  width: 92%;
  margin-top: 25px;
}

/* ************************ Media Query 540px *************************/
@media screen and (min-width: 540px) {
  .main-taskList {
    margin-bottom: 10px;
  }
  .main-taskList .container-main-tasks {
    width: 100%;
  }
}
/* ************************ Media Query < 1080px *************************/
@media screen and (min-width: 1080px) {
  .main-taskList {
    display: flex;
    overflow-y: scroll;
  }
  .main-taskList::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  .main-taskList::-webkit-scrollbar:vertical {
    width: 10px;
  }
  .main-taskList ::-webkit-scrollbar-button:increment, .main-taskList .contenedor::-webkit-scrollbar-button {
    display: none;
  }
  .main-taskList::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  .main-taskList ::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
  }
  .main-taskList .contenedor::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  .main-taskList .container-main-tasks {
    margin-top: 30px;
  }
  .main-taskList .container-main-tasks {
    width: 50%;
    height: auto;
    margin-top: 50px;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #34383a;
}

body {
  height: 100%;
  background-color: #01a0c6;
}/*# sourceMappingURL=style.css.map */